.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.supplemental-info {
  margin-left: auto !important;
  color: #34495e;
}

.MuiPaginationItem-root {
  color: white !important;
}

.Mui-selected {
  background-color: aliceblue !important;
  color: #34495e !important;
}
